# The address of your backend. 

#If you are running frontend on the same computer as backend, you can use http://localhost:port-number-of-backend

#If you have hosted the backend on a public server then the format is http://ip-address-of-the-public-server:port-number-of-backend or domain attached to backend. 

#If the backend sits behind a proxy/domain on the standard port (80 for http, 443 for https), you can drop the port number, e.g. https://your-domain.com. Otherwise, keep the port number after the domain too, e.g. https://your-domain.com:5000(port number of backend).

#Use https if your backend is hosted on a https supported server.

NEXT_PUBLIC_API_URL=http://localhost:5000
