# The address of your backend. 

#If you are running frontend on the same computer as backend, you can use http://localhost:port-number-of-backend
#Example: http://localhost:5000

#If you have hosted the backend on a public server then the format is http://ip-address-of-the-public-server:port-number-of-backend
#Example: http://203.0.113.10:5000

#If you have attached the backend to a proxy/domain in the public server, you can use that proxy/domain instead of the IP address. If it sits behind the proxy/domain on the standard port (80 for http, 443 for https), you don't have to add the port number, e.g. https://your-domain.com. Otherwise, keep the port number after the domain too, e.g. https://your-domain.com:5000 (port number of backend).

#Use https instead of http if the address above (proxy/domain, or the backend itself) is reachable over https.

NEXT_PUBLIC_API_URL=http://localhost:5000
