PORT=5000
NODE_ENV=development
MONGODB_URI=mongodb://localhost:27017/fpms
JWT_SECRET=skfjaiufg87w4tyfhwuiohw3847gfw3783wfguergy387he
JWT_EXPIRES_IN=70d
AUTH_USER_ID=admin
AUTH_PASSWORD=admin123
AUTH_USER_NAME=Administrator

# GOOGLE_CLIENT_ID=your-google-client-id
# GOOGLE_CLIENT_SECRET=your-google-client-secret
# GOOGLE_CALLBACK_URL=http://localhost:5000/api/auth/google/callback

#google auth is not implemented

FRONTEND_URL=http://localhost:3000
VAPID_PUBLIC_KEY=BMlAaSDLm-lQ327gR_7WpstteK6qKGLNhT_d4qr7tE21Eyoc6KtyAqOptPMTyRvgXrKlJJ6j_yklHTMng0_imrM
VAPID_PRIVATE_KEY=gQ_OxoWOorVa_F_nJngyQUpKfQYgbyutAZUSYv6oyo4
VAPID_SUBJECT=mailto:admin@smartpond.local
